<!-- ====== SECCIÓN 5 ====== -->
  <section class="screen info-section" id="limpieza">
    <div class="info-content limpieza">
      <div class="info-box">
        <h2>LIMPIEZAS ESPIRITUALES</h2>
        <p>
          Te ayudo mediante limpiezas espirituales ancestrales que aprendí en el Amazonas. Estas prácticas sagradas 
          liberan y purifican tu alma, tu hogar u objetos de energías negativas, bloqueos emocionales, malas vibraciones 
          o influencias espirituales no deseadas. Entiendo que así como tu cuerpo físico necesita higiene, 
          tu alma y energía también necesitan ser limpiadas y equilibradas. Mi trabajo te ayuda a abrir 
          los caminos de la abundancia y prosperidad que mereces.
        </p>

        <div class="cta-container">
          <p class="cta-text">🌟 Te libero de energías negativas 🌟</p>
          <a href="https://api.whatsapp.com/send?phone=573245064322&text=🌟%20Maestro%20Saúl,%20siento%20energías%20negativas%20a%20mi%20alrededor.%20¿Puede%20ayudarme%20con%20una%20limpieza?" class="whatsapp-btn">Necesito Limpieza</a>
        </div>
      </div>
    </div>
  </section>