<!-- ====== SECCIÓN 7: POLÍTICAS ====== -->
  <section class="screen" id="politicas">
    <div class="hero">
      <h1>Mis Políticas de Servicio</h1>
      <div class="info-content politicas-box">
        <p class="info-content politicas-titulo">
          <a href="https://api.whatsapp.com/send?phone=573245064322&text=Maestro%20Saúl,%20soy%20mayor%20de%20edad%20y%20necesito%20su%20ayuda%20espiritual.%20¿Podría%20darme%20una%20consulta?" class="whatsapp-link">Solo para Mayores de edad</a>
        </p>
        <p class="politicas-texto">
          Mi acompañamiento espiritual está fundamentado en las mitologías étnicas afrodescendientes que aprendí 
          en el Amazonas, con propósito lúdico-recreativo. Por tanto, no representa conocimiento científico ni 
          constituye un método exacto para el tratamiento de trastornos mentales y problemas de salud. 
          Te sugiero siempre estar acompañado de un profesional que realice un diagnóstico en un centro especializado. 
          Cada caso lo abordo de manera específica y personal. Te garantizo confidencialidad absoluta: 
          no comparto datos ni realizo ningún tipo de divulgación de información.
        </p>
      </div>
    </div>
  </section>