<!-- ====== SECCIÓN 4 ====== -->
  <section class="screen info-section" id="tarot">
    <div class="info-content tarot">
      <div class="info-box">
        <h2>LECTURAS DE LA MANO Y TAROT</h2>
        <p>
          Como maestro espiritual del Amazonas, leo las líneas de tu mano y las cartas del tarot para 
          comprender los aspectos más profundos de tu personalidad, emociones, talentos y posibles caminos de vida. 
          Interpreto especialmente la línea de la vida, del corazón, de la mente y del destino, junto con la forma 
          de tu mano y dedos. No predigo el futuro de forma exacta, pero te ofrezco una guía sagrada sobre 
          tendencias y potenciales. Mi propósito es ayudarte tanto en lo espiritual como en el autoconocimiento.
        </p>

        <div class="cta-container">
          <p class="cta-text">🔮 Permíteme leer tu destino 🔮</p>
          <a href="https://api.whatsapp.com/send?phone=573245064322&text=🔮%20Maestro%20Saúl,%20quiero%20conocer%20mi%20futuro%20y%20mi%20destino.%20¿Puede%20leer%20las%20cartas%20para%20mí?" class="whatsapp-btn">Lectura Gratuita</a>
        </div>
      </div>
    </div>
  </section>